@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: Raleway;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1740px;
}

.header__top {
  min-height: 98px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 0 30px;
}

.menu__item {
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

.menu__item::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  white-space: nowrap;
  opacity: 0;
  transition: opacity .3s ease;
}

.menu__link {
  font-weight: 500;
  transition: opacity .3s ease;
}

.menu__item:hover::after {
  opacity: 1;
}

.menu__item:hover .menu__link {
  opacity: 0;
}

.social {
  display: flex;
  gap: 44px;
  align-items: center;
}

.social__link {
  display: inline-block;
}

.social__link svg {
  transition: color .3s ease, transform .3s ease;
}

.social__link:hover svg {
  color: #00a9bd;
  transform: scale(1.25);
}

.logo svg {
  transition: color .3s ease;
}

.logo:hover svg {
  color: #00a9bd;
}

.header__content {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__content-inner {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 125px);
}

.header__title {
  text-transform: uppercase;
  margin-top: 22vh;
  margin-bottom: 32px;
  font-size: 128px;
  font-weight: 700;
}

.booking {
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  background-color: #00a9bd;
  padding: 22px 30px;
  border-radius: 30px;
  transition: color .3s ease, background-color .3s ease;
}

.booking:hover {
  color: #000;
  background-color: #ffe093;
}

.header__info-list {
  margin-top: auto;
  margin-bottom: 94px;
  display: flex;
  justify-content: space-evenly;
}

.header__info-item {
  text-align-last: left;
  line-height: 1.5;
  font-weight: 500;
  font-size: 24px;
}

.header__info-item span {
  padding-left: 36px;
  position: relative;
  font-weight: 700;
  font-size: 32px;
}

.header__info-item span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 0;
  width: 23px;
  height: 24.2px;
  background-image: url(../images/info-ico.svg);
}

.info {
  padding-top: 120px;
  text-transform: uppercase;
}

.info__top {
  margin-bottom: 62px;
  display: flex;
  justify-content: space-between;
}

.info__title {
  font-size: 32px;
  font-weight: 500;
  position: relative;
}

.info__title::after {
  content: '';
  display: block;
  position: absolute;
  width: 256px;
  height: 8px;
  background-image: url(../images/decor-line.svg);
}

.info__text {
  max-width: 760px;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.info__text::before {
  content: '';
  display: block;
  position: absolute;
  left: -136px;
  top: 0;
  width: 124px;
  height: 77px;
  background-image: url(../images/decor-arrow.svg);
}

.info__galery {
  display: flex;
  justify-content: space-between;
}

.info__img-box {
  width: 33%;
  position: relative;
}

.info__img {
  border-radius: 25px;
}

.info__img-step {
  font-size: 95px;
  color: #fff;
  font-weight: 400;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}

.info__img-step::before {
  content: '';
  display: block;
  position: absolute;
  left: -36px;
  top: 0;
  width: 178px;
  height: 115px;
  background-image: url(../images/decor-circle.svg);
}

.info__img-descr {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  left: 24px;
  top: 85%;
}

.info__img-arrow {
  position: absolute;
  right: 20px;
  bottom: 6%;
}